:root {
    --main-color: #45507F;
    --highlight-color: #D3D7E6;
    --shadow-color: #29304c;
    --darker-tint: #58628c;
}

@font-face {
    font-family: 'Caudex-Regular';
    src: url('fonts/Caudex/Caudex-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
 }

@font-face {
    font-family: 'Caudex-Bold';
    src: url('fonts/Caudex/Caudex-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Caudex-BoldItalic';
    src: url('fonts/Caudex/Caudex-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Caudex-Italic';
    src: url('fonts/Caudex/Caudex-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Caudex-Regular, sans-serif;
}

header {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding-right: 25px;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s, background-color 0.3s; 
    border-radius: 5px; 
    display: inline-block; 
}

nav ul li a:hover {
    color: var(--highlight-color); 
}

.front-page {
    text-align: left;
}

.name {
    font-size: 7vw;
    font-weight: bold;
    font-style: italic;
    color: var(--main-color);
    padding-top: 2%;
    padding-left: 2%;
    display: inline-block;
}

.name:hover {
    color: var(--darker-tint); 
    transform: translateY(5px);
    text-shadow: 2px 2px 4px var(--highlight-color);
}
