body {
    margin: 0;
    padding: 0;
    font-family: Caudex-BoldItalic, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s, background-color 0.3s; 
    border-radius: 5px; 
    display: inline-block; 
}

nav ul li a:hover {
    color: black; 
    background-color: white; 
}

@font-face {
    font-family: 'Caudex-Regular';
    src: url('fonts/Caudex/Caudex-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
 }

@font-face {
    font-family: 'Caudex-Bold';
    src: url('fonts/Caudex/Caudex-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Caudex-BoldItalic';
    src: url('fonts/Caudex/Caudex-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Caudex-Italic';
    src: url('fonts/Caudex/Caudex-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}
  
