:root {
    --main-color: #45507F;
    --highlight-color: #D3D7E6;
    --shadow-color: #29304c;
    --darker-tint: #58628c;
    --blue-two: #538B9A;
}

@font-face {
    font-family: 'Caudex-Regular';
    src: url('fonts/Caudex/Caudex-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
 }

@font-face {
    font-family: 'Caudex-Bold';
    src: url('fonts/Caudex/Caudex-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Caudex-BoldItalic';
    src: url('fonts/Caudex/Caudex-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Caudex-Italic';
    src: url('fonts/Caudex/Caudex-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Caudex-Regular, sans-serif;
    overflow: auto;
}

header {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 0;
}

nav ul {
    list-style: none;
    padding-right: 25px;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s, background-color 0.3s; 
    border-radius: 5px; 
    display: inline-block; 
}

.navbar-bottom {
    background-color: var(--main-color);
    color: white;
    margin: 0;
    position: fixed;
    bottom: 0;
    padding-top: 1%;  
    width: 100%;
}

.navbar-bottom ul {
    float: left;
}

nav ul li a:hover {
    color: var(--highlight-color); 
}

.front-page {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

.name {
    font-size: 7vw;
    font-weight: bold;
    font-style: italic;
    color: var(--main-color);
    display: inline-block;
}

.name:hover {
    color: var(--darker-tint); 
    transform: translateY(5px);
    text-shadow: 2px 2px 4px var(--highlight-color);
}

.outlined-jumbotron{
    color: var(--main-color);
    padding: 2vw;
    margin: 0;
}

.jumbotron-text {
    text-align: center;
}

.front-p5 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.copyright {
    color: white;
}

.jumbotron-title {
    font-style: italic;
    font-weight: bold;
    padding-bottom: 3px;
}

.korean-name {
    float: right;
    color: var(--blue-two);
}

.jumbotron-intro {
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

.carousel-caption {
    color: white;
    background-color: var(--main-color);
}

.carousel-title {
    font-weight: bold;
}

/* Custom styles for carousel slides */
.carousel-item img {
    max-height: 300px; /* Adjust the maximum height as needed */
    width: auto; /* Maintain aspect ratio */
    justify-content: center;
    opacity: 70%;
}

/* Optionally adjust the carousel container size */
.carousel {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: auto; /* Center the carousel on the page */
}
